<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Operation Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <div class="field is-grouped">
    <p class="control">
      <a href="/">
      <button class="button is-link">
        MAIN
      </button>
      </a>
    </p>
    <p class="control">
      <a href="/stats">
      <button class="button is-danger">
        STAT
      </button>
      </a>
    </p>
    <p class="control">
      <a href="/clear">
      <button class="button is-warning">
        CLEAR_ALL
      </button>
      </a>
    </p>
  </div>
  <section class="section">
    <div class="container">
      <h1 class="title">
        200 DONE
      </h1>
    </div>
  </section>
  </body>
</html>