<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Flask!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <div class="field is-grouped">
    <p class="control">
      <a href="/">
      <button class="button is-link">
        MAIN
      </button>
      </a>
    </p>
    <p class="control">
      <a href="/stats">
      <button class="button is-danger">
        STAT
      </button>
      </a>
    </p>

  </div>
  <section class="section">
    <div class="container">
        <form method="POST" action="{{ url_for('short.add_link') }}">
            <div class="field">
                <label class="label">Original URL</label>
                <div class="control">
                    <input class="input" type="text" name="original_url" id = "ipt">
                </div>
                <p class="help", id="help_valid">Enter your URL</p>
            </div>
            <div class="control">
                <button type="submit" class="button is-info" id="myBtn" onclick="CheckUrl()">Shorten</button>
            </div>
        </form>
    </div>
  </section>

  <script>
  function CheckUrl(){
    var url=document.getElementById("ipt").value;
    var reg=/^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\*\+,;=.]+$/;
    if(!reg.test(url)){
      alert("please input a right url");
    }
  }
  </script>

  </body>
</html>
